[Unit]
Description=wirespider sync server
StartLimitIntervalSec=60
StartLimitBurst=1

[Service]
User=wirespider
Type=simple
Restart=on-failure
Environment=DATABASE_URL=sqlite:/var/lib/wirespider/config.sqlite
ExecStartPre=/usr/bin/wirespider database migrate
ExecStart=/usr/bin/wirespider start-server --bind 127.0.0.1:49582

[Install]
WantedBy=multi-user.target