[Unit]
Description=wirespider sync server

[Service]
User=wirespider
Type=simple
Restart=on-failure
Environment=DATABASE_URL=sqlite:/var/lib/wirespider/config.sqlite
ExecStartPre=/usr/local/bin/wirespider server manage migrate
ExecStart=/usr/local/bin/wirespider server run --bind 127.0.0.1:49582

[Install]
WantedBy=multi-user.target